body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    background-color: #43853d;
    color: white;
    font-family: 'Consolas';
    line-height: 10px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

img{
    margin: 0;
    width: 200px;
    height: 100px;
}